@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #009feb;
  --color-secondary: #ffcd00;
  --color-tertiary: #ffcd00;
  --color-hover: #009ae3;
  --color-gradient: #0066cc;
}

@layer base {
  .font-bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
  }
  .font-special {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 800;
  }

  .c-space {
    @apply md:px-10 px-5 lg:px-15;
  }

  .container p:nth-child(even) {
    @apply text-secondary group-hover:text-white transition-colors duration-300 delay-100;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .slide-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .animate-slide {
    animation: slide 5s linear infinite;
    will-change: transform;
  }
  .pause-slide {
    animation-play-state: paused;
  }
  /* styles/globals.css */

  .parallax-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: center;
    z-index: -10;
    transform: translateZ(0);
    will-change: transform;
  }
}
