@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #009feb;
  --color-secondary: #fed400;
  --color-tertiary: #ffcd00;
  --color-hover: #009ae3;
  --color-gradient: #0066cc;
}

@layer base {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* .title-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 30%;
    background-color: #0f172a; /* Tailwind's slate-900 */

  */ .font-Gothic {
    font-family: "Special Gothic Expanded One", sans-serif;
  }
  .font-Bebas {
    font-family: "Bebas Neue", sans-serif;
  }
  .c-space {
    @apply lg:px-10 px-5;
  }
  .container p:nth-child(even) {
    @apply text-secondary group-hover:text-white transition-colors duration-300 delay-100;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .animate-slide {
    animation: slide 30s linear infinite;
    will-change: transform;
  }
  .pause-slide {
    animation-play-state: paused;
  }
}
